<div class="card">
  <div class="card-header pb-0">
    <div class="row">
      <div class=" col-lg-4 col-7 w-100 icon-shape bg-gradient-faded-info-vertical shadow-info border-radius-xl mt-n4">
        <h6 class="text-white py-2">Tasks</h6>
      </div>
    </div>
  </div>

  <div *ngIf="tasks.length; else noContent" class="card-body pt-0">
    <div class="table-responsive">

      <table [dataSource]="dataSource" mat-table matSort>
        <ng-container matColumnDef="color">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let task" [style.background-color]="getPriorityColor(task)" class="col-color" mat-cell></td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let index = index" class="col-id" mat-cell>
            {{index + 1}}
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Tasks</th>
          <td *matCellDef="let task" [class.completed]="task.completed" class="col-title" mat-cell>
            {{task.title}}
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Categories</th>
          <td *matCellDef="let task"
              [ngClass]="{'completed': task.completed, 'nocategory': task.category == null, 'link': !task.completed && task.category}"
              class="col-category"
              mat-cell>
            {{task.category ? task.category.title : '---'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="priority">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Priority</th>
          <td *matCellDef="let task" [ngClass]="{'completed': task.completed, 'nopriority': task.priority == null}"
              class="col-priority" mat-cell>
            {{task.priority ? task.priority.title : '---'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
          <td *matCellDef="let task" [ngClass]="{'completed': task.completed, 'nodate': task.date == null}" class="col-date"
              mat-cell>
            {{task.date | date : 'dd.LL.yyyy HH:mm:ss'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
          <td *matCellDef="let task" class="col-status" mat-cell>
            <span class="form-check form-check-info text-center ps-0">
              <input
                id="flexCheckDefault"
                class="form-check-input"
                type="checkbox"
                value=""
                [checked]="task.completed"
              (click)="toggleTaskComplete(task)">
            </span>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>

        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

      </table>

<!--      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>-->

    </div>
  </div>

  <ng-template #noContent>
    <div class="text-center p-7">
      No Tasks yet
    </div>
  </ng-template>
</div>
